<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="app">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>BukanLapak</strong>
          </p>
        </div>
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="Find a post">
            </p>
            <p class="control">
              <button class="button">
                Search
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="level-right">
        <p class="level-item"><strong>Welcome, Oscar</strong></p>
        <p class="level-item"><a>Log Out</a></p>
        <p class="level-item"><a @click="aktifinModal">Keranjang</a></p>
      </div>
    </nav>

    <div class="columns"> <!-- GRID MAIN CONTENT START -->
      <div class="column is-one-quarter"> <!-- Left side -->

        <nav class="panel"> <!-- Link -->
          <p class="panel-heading">
            Repositories
          </p>
          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            Pakaian
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            Laptop
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            Sepeda
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-book"></i>
            </span>
            Jam Tangan
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-code-fork"></i>
            </span>
            Pacar
          </a>
          <a class="panel-block">
            <span class="panel-icon">
              <i class="fa fa-code-fork"></i>
            </span>
            Jomblo
          </a>
        </nav> <!-- End Link -->
      </div> <!-- End Left side -->



      <div class="column"> <!-- Right side -->
        <div class="columns is-multiline is-mobile"> <!-- CONTENT JUALAN -->

          <div class="column is-one-quarter" v-for="book in books">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img v-bind:src="book.photo" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>{{book.title}}</b></br></br>
                  Harga : {{book.price}}
                <br>
                <button @click="tambahKeranjang(book)" class="button is-success">Beli</button>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="column is-one-quarter">
            <a href="">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://i.imgur.com/eUGpsRf.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                <b>Dazzle Dota 2</b></br></br>
                  Harga : 75000
                <br>
                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="column is-one-quarter">
            <a href="">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://4.bp.blogspot.com/-So6ydi18v7Y/VgJgxXVwtcI/AAAAAAAAATo/rGvbf1S77QY/s1600/naga%2Bsiren%2Bguide.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>Naga Siren Dota 2</b></br></br>
                  Harga : 20000
                <br>

                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="column is-one-quarter">
            <a href="">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://www.gambarnaruto.com/wp-content/uploads/2016/03/32-Gambar-EarthShaker-Dota-2-Wallpaper-2.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>EarthSeeker Dota 2</b></br></br>
                  Harga : 100000
                <br>

                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://i.imgur.com/eUGpsRf.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>Juggernaut Dota 2</b></br></br>
                  Harga : 50000
                <br>

                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/9/j/u/9juawao-33e57.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>Gaben Dota 2</b></br></br>
                  Harga : 15000
                <br>

                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://pre12.deviantart.net/f81c/th/pre/f/2015/047/2/6/dota2_pudge_by_kostya_pingwin-d8i94wx.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>Pudge Dota 2</b></br></br>
                  Harga : 12500
                <br>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://im.ziffdavisinternational.com/ign_nl/screenshot/default/shadow-fiend_unc1.jpg" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <b>Shadow Fiend Dota 2</b></br></br>
                  Harga : 17000
                <br>
                </div>
              </div>
            </div>
          </div> -->

        </div> <!-- End CONTENT JUALAN -->
      </div> <!-- End Right side -->
    </div> <!-- GRID MAIN CONTENT END-->

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>BukanLapak</strong> by BukanLapak. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>

    <div v-bind:class="modalnya">
      <div class="modal-background"></div>
      <div class="modal-content">
        <article class="message is-info"> <!-- Keranjang -->
          <div class="message-header">
            <p><b>Keranjang Belanja Anda</b></p>
          </div>
        </article> <!-- EndKeranjang -->

        <table class="table">
          <thead>
            <tr>
              <td><b>Nama Barang</b></td>
              <td><b>Jml</b></td>
              <td><b>Harga</b></td>
              <td><b>Sub Total</b></td>
              <td><b>Hapus</b></td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="belanjaan in keranjang">
              <td>{{belanjaan.title}}</td>
              <td>{{belanjaan.jumlah}}</td>
              <td>{{belanjaan.price}}</td>
              <td>{{belanjaan.subtotal}}</td>
              <td><button class="delete"></button></td>
            </tr>
            <tr>
              <td>Total</td>
              <td></td>
              <td></td>
              <td>{{total}}</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><div class="button is-success" @click="checkout">Bayar</div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button @click="tutupModal" class="modal-close"></button>
    </div>


  </div>
  </body>

  <script>
    var app4 = new Vue({
    el: '#app',
    data: {
      modalnya:'modal',
      books:[],
      keranjang:[],
      total:''
    },
    methods:{
      aktifinModal:function(){
        let jumlah = 0
        this.keranjang.forEach(function(book){
          jumlah += book.subtotal
        })
        this.total = jumlah
        this.modalnya = 'modal is-active'
      },
      tutupModal:function(){
        this.modalnya = 'modal'
      },
      tambahKeranjang:function(book){
        alert('Keranjang Anda Berhasil Ditambahkan. Untuk Pembayaran / Melihat Keranjang Anda, silahkan klik "Keranjang" di Pojok Kanan atas')
        var index = this.keranjang.findIndex(keranjang => keranjang._id == book._id)
        if(index!=-1){
          let newBook = this.keranjang[index]
          newBook['jumlah']+=1
          newBook.subtotal = newBook.jumlah * newBook.price
          this.keranjang.splice(index, 1, newBook)
        } else {
            book['jumlah'] = 1;
            book['subtotal'] = book.jumlah * book.price
            this.keranjang.push(book)
        }
      },
      checkout:function(){
        console.log(this.keranjang);
      }
    },
    created:function(){
      let self = this
      axios.get('http://localhost:3000/books')
        .then(function(response){
          self.books = response.data
        })
        .catch(function(err){
          console.log(err);
        })
    }
  })
  </script>

</html>
